<footer class="footer-bg">
    <div class="footer-top">
        <div class="container">
            <div class="footer-wrapper style-2">
                <div class="left-side">
                    <div class="footer-widget widget-about">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/footer-logo.png" alt="logo"></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, ligtlus, quo at erat, posuere pimperdcenas varius lames libersemper lectunisl ut. Mattis eget, risus pellen</p>
                        <ul class="social-icons">
                            <li>
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget widget-links">
                        <h6 class="title">Useful Links</h6>
                        <ul>
                            <li>
                                <a href="#0">About</a>
                            </li>
                            <li>
                                <a href="#0">Policy</a>
                            </li>
                            <li>
                                <a href="#0">Faq</a>
                            </li>
                            <li>
                                <a href="#0">Contact</a>
                            </li>
                            <li>
                                <a href="#0">Terms & Services</a>
                            </li>
                            <li>
                                <a href="#0">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-side">
                    <div class="footer-widget widget-games">
                        <h6 class="title">Top Games</h6>
                        <ul>
                            <li>
                                <a href="#0">
                                    <div class="thumb">
                                        <img src="assets/images/footer/02.png" alt="footer">
                                    </div>
                                    <div class="content">
                                        Imperdiet
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <div class="thumb">
                                        <img src="assets/images/footer/01.png" alt="footer">
                                    </div>
                                    <div class="content">
                                        big fighter gun
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <div class="thumb">
                                        <img src="assets/images/footer/03.png" alt="footer">
                                    </div>
                                    <div class="content">
                                        zeuz max zone
                                        <div class="ratings">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget widget-contact">
                        <h6 class="title">get in touch</h6>
                        <ul>
                            <li>
                                <span>Address</span>
                                <span>London City ,East 656</span>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="Mailto:demo@gmail.com"><span class="__cf_email__" data-cfemail="1d797870725d7a707c7471337e7270">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:+1111-2222-3333">1111 - 2222 - 3333</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2020. All rights reserved by <a href="#0">gamgun</a></p>
    </div>
</footer>