<!-- ========Header Section Starts Here======== -->
<header class="header-two">
    <div class="container">
        <div class="header-top">
            <span class="left">Welcome to best online gaming theme</span>
            <ul>
                <li>
                    <a href="#0">Facebook</a>
                </li>
                <li>
                    <a href="#0">Twitter</a>
                </li>
                <li>
                    <a href="#0">Youtube</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo/logo.png" alt="logo">
                    </a>
                </div>
                <div class="sticky-logo">
                    <a href="index.html">
                        <img src="assets/images/logo/sticky-logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu ml-auto">
                    <li>
                        <a href="#0">Home</a>
                        <ul class="submenu">
                            <li>
                                <a href="index.html">Home One</a>
                            </li>
                            <li>
                                <a href="index-2.html">Home two</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="#0">Pages</a>
                        <ul class="submenu">
                            <li>
                                <a href="#0">Games</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="play-online.html">Play Online</a>
                                    </li>
                                    <li>
                                        <a href="game-details.html">Games Details</a>
                                    </li>
                                    <li>
                                        <a href="winner.html">Winner</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#0">Account</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="sign-up.html">Sign Up</a>
                                    </li>
                                    <li>
                                        <a href="sign-in.html">Sign In</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="affiliate.html">Affiliate</a>
                            </li>
                            <li>
                                <a href="terms.html">Terms & Condition</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy</a>
                            </li>
                            <li>
                                <a href="refund-policy.html">Refund Policy</a>
                            </li>
                            <li>
                                <a href="error.html">Error Page</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="faqs.html">Faqs</a>
                    </li>
                    <li>
                        <a href="#0">Blog</a>
                        <ul class="submenu">
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="blog-single.html">Blog Details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                </div>
                <div class="header-bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <form class="header-search">
                    <input type="text" placeholder="Your Email" name="email">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- ========Header Section Ends Here======== -->