<!-- ========Banner Section Starts Here======== -->
<section class="banner-section-2 bg_img" data-background="assets/images/banner/banner-bg2.png">
    <div class="container">
        <div class="banner-content">
            <h1 class="title">Theme just for gamers</h1>
            <p>Ante etiam per hymenaeos dolor vitae, libero non ornare velit morbi, imperdiet
                nullampellentesque ultricie eget vel tempor</p>
            <a href="#0" class="custom-button theme-three">about us</a>
        </div>
    </div>
</section>
<!-- ========Banner Section Ends Here======== -->


<!-- ========Vision Section Starts Here======== -->
<section class="vision-section padding-top padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="h-100 w-100 bg_img" data-background="assets/images/about/about3.jpg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <h2 class="title mt-lg-0">Our Vision</h2>
                    <p>Lorem ipsum dolor sit amet, id in nam dictum erat lorem. Libero sed quis, sem faucibus lacus
                        donec, in velit pellentesque libero, sed vulspendisse lectus id ut enim. Dui sed. Sapien
                        curabitur. Enim velit tinciduneque amet libero, nulla consectetuer torquent augue lobortis
                        inceptos rhoncus
                        nonummy. Nibh gravida sed cras, conubia urna aliquam, in platea, nisl </p>
                </div>
                <ul class="mommodo-list">
                    <li>Mommodo odio ut cras, mauris nihilit magna aliquet arcu aliquet, montes tortor</li>
                    <li>Mommodo odio ut cras, mauris nihilit magna aliquet arcu aliquet, montes tortor</li>
                    <li>Mommodo odio ut cras, mauris nihilit magna aliquet arcu aliquet, montes tortor</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ========Vision Section Ends Here======== -->


<!-- ========Feature Video Section Starts Here======== -->
<section class="feature-video-section">
    <div class="container">
        <div class="row flex-wrap-reverse mb--40">
            <div class="col-lg-6 mb-40">
                <div class="row mb-30-none justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-12">
                                <div class="feature-item-2">
                                    <div class="feature-thumb">
                                        <img src="assets/images/feature/01.png" alt="feature">
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="title">update game</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12">
                                <div class="feature-item-2">
                                    <div class="feature-thumb">
                                        <img src="assets/images/feature/02.png" alt="feature">
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="title">transparent</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-12">
                                <div class="feature-item-2">
                                    <div class="feature-thumb">
                                        <img src="assets/images/feature/03.png" alt="feature">
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="title">24/7 support</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-xl-5 mb-40">
                <div class="video-wrapper bg_img pos-rel bg-overlay"
                     data-background="assets/images/feature/video.png">
                    <img class="d-lg-none" src="assets/images/feature/video.png" alt="video">
                    <a class="video-button popup" href="https://www.youtube.com/watch?v=GT6-H4BRyqQ">
                        <i class="flaticon-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========Feature Video Section Ends Here======== -->


<!-- =======How Section Starts Here======== -->
<section class="how-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header-2">
            <h2 class="title">how can you play</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-6 col-md-3">
                <div class="how-item-2">
                    <div class="how-thumb"><span>01</span></div>
                    <h5 class="title">Sign Up</h5>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="how-item-2">
                    <div class="how-thumb"><span>02</span></div>
                    <h5 class="title">Choose game</h5>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="how-item-2">
                    <div class="how-thumb"><span>03</span></div>
                    <h5 class="title">get bonous</h5>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="how-item-2">
                    <div class="how-thumb"><span>04</span></div>
                    <h5 class="title">withdraw</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======How Section Ends Here======== -->


<!-- =======Game Section Starts Here======== -->
<section class="game-section padding-top padding-bottom bg_img bg-overlay"
         data-background="assets/images/review/review-bg.jpg">
    <div class="container">
        <div class="section-header-2 left-style">
            <h2 class="title">Play your game</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="row justify-content-center mb-40-65-none">
            <div class="col-12">
                <div class="games-item-2">
                    <div class="games-thumb bg_img" data-background="assets/images/games/games07.jpg">
                        <a href="#0"><img src="assets/images/games/games07.jpg" class="d-md-none" alt="game"></a>
                    </div>
                    <div class="games-content">
                        <h5 class="title"><a href="#0">Pixel hunter</a></h5>
                        <p>Cupiditate aliquam facilisis fermentum, eu quam vitae venenatis amet penatibus
                            consectetuer,Aptent nulla lacinia tempor felis, ligula accumsan commodo vestibulum enim
                            pretium. Etiam vestibulum non velit tempor mollis nullam, vestibulum a magna quis semper </p>
                        <div class="ratings">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <a href="#0" class="custom-button active">play now</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="games-item-2">
                    <div class="games-thumb bg_img" data-background="assets/images/games/games08.jpg">
                        <a href="#0"><img src="assets/images/games/games08.jpg" class="d-md-none" alt="game"></a>
                    </div>
                    <div class="games-content">
                        <h5 class="title"><a href="#0">Single Kakcha</a></h5>
                        <p>Cupiditate aliquam facilisis fermentum, eu quam vitae venenatis amet penatibus
                            consectetuer,Aptent nulla lacinia tempor felis, ligula accumsan commodo vestibulum enim
                            pretium. Etiam vestibulum non velit tempor mollis nullam, vestibulum a magna quis semper </p>
                        <div class="ratings">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <a href="#0" class="custom-button active">play now</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="games-item-2">
                    <div class="games-thumb bg_img" data-background="assets/images/games/games09.jpg">
                        <a href="#0"><img src="assets/images/games/games09.jpg" class="d-md-none" alt="game"></a>
                    </div>
                    <div class="games-content">
                        <h5 class="title"><a href="#0">big gun kills</a></h5>
                        <p>Cupiditate aliquam facilisis fermentum, eu quam vitae venenatis amet penatibus
                            consectetuer,Aptent nulla lacinia tempor felis, ligula accumsan commodo vestibulum enim
                            pretium. Etiam vestibulum non velit tempor mollis nullam, vestibulum a magna quis semper </p>
                        <div class="ratings">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <a href="#0" class="custom-button active">play now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======Game Section Ends Here======== -->


<!-- =======Gamers Section Starts Here======== -->
<section class="gamers-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header-2">
            <h2 class="title">Our best gamers</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="gamer-item">
                    <div class="gamer-thumb">
                        <a href="#0">
                            <img src="assets/images/gamers/gamers04.png" alt="gamers">
                        </a>
                    </div>
                    <div class="gamer-content">
                        <h5 class="title"><a href="#0">Abu Raihan Rafuj</a></h5>
                        <p>New Gamers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="gamer-item">
                    <div class="gamer-thumb">
                        <a href="#0">
                            <img src="assets/images/gamers/gamers05.png" alt="gamers">
                        </a>
                    </div>
                    <div class="gamer-content">
                        <h5 class="title"><a href="#0">Hera Rahman</a></h5>
                        <p>New Gamers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="gamer-item">
                    <div class="gamer-thumb">
                        <a href="#0">
                            <img src="assets/images/gamers/gamers06.png" alt="gamers">
                        </a>
                    </div>
                    <div class="gamer-content">
                        <h5 class="title"><a href="#0">Panna Rahman</a></h5>
                        <p>New Gamers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======Gamers Section Ends Here======== -->


<!-- ========Recent Winners Section Starts Here======== -->
<section class="lends-section">
    <div class="container">
        <div class="padding-top padding-bottom bg_img bg-lay pt-max-md-0 pb-max-md-0 max-md-bg-none"
             data-background="assets/images/review/review-bg.jpg">
            <div class="section-header-2">
                <h2 class="title">lend and borrow</h2>
                <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                    justo quis lectus, est odio commodo</p>
            </div>
            <div class="lends-table-wrapper px-max-md-0">
                <table class="lend-table">
                    <thead class="table-header">
                    <tr>
                        <th>User</th>
                        <th>Bet id</th>
                        <th>bet amount</th>
                        <th>chance</th>
                        <th>game</th>
                        <th>profit</th>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    <tr>
                        <td data-input="user">
                            <div class="user">
                                <div class="user-thumb">
                                    <a href="#0">
                                        <img src="assets/images/table/01.png" alt="user">
                                    </a>
                                </div>
                                <div class="user-content">
                                    <a href="#0">Abir Khan</a>
                                </div>
                            </div>
                        </td>
                        <td data-input="bet id">
                            <div class="info bet">BM 0213589686</div>
                        </td>
                        <td data-input="bet amount">
                            <div class="info bet-amount">$ 60,5896</div>
                        </td>
                        <td data-input="win chance">
                            <div class="info win-chance">60%</div>
                        </td>
                        <td data-input="game">
                            <div class="info game-name">Coc</div>
                        </td>
                        <td data-input="profit">
                            <div class="info profit">$ 90,8012</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-input="user">
                            <div class="user">
                                <div class="user-thumb">
                                    <a href="#0">
                                        <img src="assets/images/table/02.png" alt="user">
                                    </a>
                                </div>
                                <div class="user-content">
                                    <a href="#0">Rex Rifat</a>
                                </div>
                            </div>
                        </td>
                        <td data-input="bet id">
                            <div class="info bet">BM 0213589686</div>
                        </td>
                        <td data-input="bet amount">
                            <div class="info bet-amount">$ 60,5896</div>
                        </td>
                        <td data-input="win chance">
                            <div class="info win-chance">75%</div>
                        </td>
                        <td data-input="game">
                            <div class="info game-name">Kakcha</div>
                        </td>
                        <td data-input="profit">
                            <div class="info profit">$ 90,8012</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-input="user">
                            <div class="user">
                                <div class="user-thumb">
                                    <a href="#0">
                                        <img src="assets/images/table/03.png" alt="user">
                                    </a>
                                </div>
                                <div class="user-content">
                                    <a href="#0">Rudra Roy</a>
                                </div>
                            </div>
                        </td>
                        <td data-input="bet id">
                            <div class="info bet">BM 0213589686</div>
                        </td>
                        <td data-input="bet amount">
                            <div class="info bet-amount">$ 60,5896</div>
                        </td>
                        <td data-input="win chance">
                            <div class="info win-chance">90%</div>
                        </td>
                        <td data-input="game">
                            <div class="info game-name">Ludu</div>
                        </td>
                        <td data-input="profit">
                            <div class="info profit">$ 90,8012</div>
                        </td>
                    </tr>
                    <tr>
                        <td data-input="user">
                            <div class="user">
                                <div class="user-thumb">
                                    <a href="#0">
                                        <img src="assets/images/table/04.png" alt="user">
                                    </a>
                                </div>
                                <div class="user-content">
                                    <a href="#0">DJ Hasan</a>
                                </div>
                            </div>
                        </td>
                        <td data-input="bet id">
                            <div class="info bet">BM 0213589686</div>
                        </td>
                        <td data-input="bet amount">
                            <div class="info bet-amount">$ 60,5896</div>
                        </td>
                        <td data-input="win chance">
                            <div class="info win-chance">80%</div>
                        </td>
                        <td data-input="game">
                            <div class="info game-name">Pakiza</div>
                        </td>
                        <td data-input="profit">
                            <div class="info profit">$ 90,8012</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- ========Recent Winners Section Starts Here======== -->


<!-- ========Recent Winners Section Starts Here======== -->
<section class="winner-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-2 left-style">
            <h2 class="title">Recent winners</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="row mb-30-none justify-content-center">
            <div class="col-12">
                <div class="winner-item-2">
                    <div class="winner-thumb">
                        <a href="#0"><img src="assets/images/winner/winner04.png" alt="winner"></a>
                    </div>
                    <div class="winner-content">
                        <span class="date">02 Dec, 2020</span>
                        <h6 class="title">Abu Raihan Rafuj</h6>
                        <p>Lorem ipsum dolor sit amet, ligula tellus, quo at erat, posuere purus, imperdiet maecenas
                            varius leo wisi, fames libero semper lectus nisl ut. Mattis eget, risus pellentesque faucipr</p>
                        <span class="bet-id">bet id: mn 23568962563</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="winner-item-2">
                    <div class="winner-thumb">
                        <a href="#0"><img src="assets/images/winner/winner05.png" alt="winner"></a>
                    </div>
                    <div class="winner-content">
                        <span class="date">02 Dec, 2020</span>
                        <h6 class="title">Abu Raihan Rafuj</h6>
                        <p>Lorem ipsum dolor sit amet, ligula tellus, quo at erat, posuere purus, imperdiet maecenas
                            varius leo wisi, fames libero semper lectus nisl ut. Mattis eget, risus pellentesque faucipr</p>
                        <span class="bet-id">bet id: mn 23568962563</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="winner-item-2">
                    <div class="winner-thumb">
                        <a href="#0"><img src="assets/images/winner/winner06.png" alt="winner"></a>
                    </div>
                    <div class="winner-content">
                        <span class="date">02 Dec, 2020</span>
                        <h6 class="title">Abu Raihan Rafuj</h6>
                        <p>Lorem ipsum dolor sit amet, ligula tellus, quo at erat, posuere purus, imperdiet maecenas
                            varius leo wisi, fames libero semper lectus nisl ut. Mattis eget, risus pellentesque faucipr</p>
                        <span class="bet-id">bet id: mn 23568962563</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========Recent Winners Section Ends Here======== -->


<!-- ========Achivement Section Starts Here======== -->
<section class="achivement-section padding-top bg-overlay padding-bottom bg_img"
         data-background="assets/images/games/game-bg.jpg">
    <div class="container">
        <div class="section-header-2">
            <h2 class="title">our achievement</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="counter-wrapper-2">
            <div class="counter-item-2">
                <div class="counter-header">
                    <h2 class="title odometer" data-odometer-final="56">00</h2>
                    <h2 class="title side-title">m</h2>
                </div>
                <h6 class="subtitle">players</h6>
            </div>
            <div class="counter-item-2">
                <div class="counter-header">
                    <h2 class="title odometer" data-odometer-final="10">00</h2>
                    <h2 class="title side-title">k</h2>
                </div>
                <h6 class="subtitle">games</h6>
            </div>
            <div class="counter-item-2">
                <div class="counter-header">
                    <h2 class="title odometer" data-odometer-final="1.3">00</h2>
                    <h2 class="title side-title">k</h2>
                </div>
                <h6 class="subtitle">winners</h6>
            </div>
            <div class="counter-item-2">
                <div class="counter-header">
                    <h2 class="title odometer" data-odometer-final="4.8">00</h2><h2 class="title side-title"><i class="far fa-star"></i></h2>
                </div>
                <h6 class="subtitle">review</h6>
            </div>
        </div>
    </div>
</section>
<!-- ========Achivement Section Ends Here======== -->


<!-- ========Review Section Starts Here======== -->
<section class="review-section padding-bottom padding-top oh">
    <div class="container">
        <div class="section-header-2">
            <h2 class="title">Players review</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="player-review-slider">
            <div class="review-navigation">
                <a href="#0" class="review-prev"><i class="fas fa-angle-left"></i></a>
                <a href="#0" class="review-next active"><i class="fas fa-angle-right"></i></a>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="player-review-item">
                        <div class="player-review-thumb">
                            <div class="thumb bg_img" data-background="assets/images/review/player1.png">
                                <img class="d-sm-none" src="assets/images/review/player1.png" alt="review">
                            </div>
                            <div class="player-info">
                                <h3 class="title">Raihan Rafuj</h3>
                                <h6 class="subtitle">Best Player of january</h6>
                            </div>
                        </div>
                        <div class="player-review-content">
                            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat
                                rhoncus nam ipsum platea fusce, at hac, justo quis lectus, est odio commodo. Mauris
                                vitae in nullam velit wisi, vel aenean nullam nuautem Ridiculus vestibulum aliquam
                                eu consequat in mi, commodo quam turpis tempus</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="player-review-item">
                        <div class="player-review-thumb">
                            <div class="thumb bg_img" data-background="assets/images/review/player1.png">
                                <img class="d-sm-none" src="assets/images/review/player1.png" alt="review">
                            </div>
                            <div class="player-info">
                                <h3 class="title">Raihan Rafuj</h3>
                                <h6 class="subtitle">Best Player of january</h6>
                            </div>
                        </div>
                        <div class="player-review-content">
                            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat
                                rhoncus nam ipsum platea fusce, at hac, justo quis lectus, est odio commodo. Mauris
                                vitae in nullam velit wisi, vel aenean nullam nuautem Ridiculus vestibulum aliquam
                                eu consequat in mi, commodo quam turpis tempus</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="player-review-item">
                        <div class="player-review-thumb">
                            <div class="thumb bg_img" data-background="assets/images/review/player1.png">
                                <img class="d-sm-none" src="assets/images/review/player1.png" alt="review">
                            </div>
                            <div class="player-info">
                                <h3 class="title">Raihan Rafuj</h3>
                                <h6 class="subtitle">Best Player of january</h6>
                            </div>
                        </div>
                        <div class="player-review-content">
                            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat
                                rhoncus nam ipsum platea fusce, at hac, justo quis lectus, est odio commodo. Mauris
                                vitae in nullam velit wisi, vel aenean nullam nuautem Ridiculus vestibulum aliquam
                                eu consequat in mi, commodo quam turpis tempus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========Review Section Ends Here======== -->


<!-- ========Affiliate Section Starts Here======== -->
<section class="affiliate-section padding-bottom">
    <div class="container">
        <div class="section-header-2">
            <h2 class="title">Affiliate Programs</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="affiliate-wrapper-2 mb--50">
            <div class="affiliate-item-2">
                <div class="affiliate-thumb">
                    <img src="assets/images/affiliate/01.png" alt="affiliate">
                </div>
                <h5 class="title">Create Account</h5>
            </div>
            <div class="affiliate-item-2">
                <div class="affiliate-thumb">
                    <img src="assets/images/affiliate/02.png" alt="affiliate">
                </div>
                <h5 class="title">Link to gamzer</h5>
            </div>
            <div class="affiliate-item-2">
                <div class="affiliate-thumb">
                    <img src="assets/images/affiliate/03.png" alt="affiliate">
                </div>
                <h5 class="title">send us traffic</h5>
            </div>
            <div class="affiliate-item-2">
                <div class="affiliate-thumb">
                    <img src="assets/images/affiliate/04.png" alt="affiliate">
                </div>
                <h5 class="title">make money</h5>
            </div>
        </div>
    </div>
</section>
<!-- ========Affiliate Section Ends Here======== -->


<!-- ========Faq Section Starts Here======== -->
<section class="faqs-section padding-top padding-bottom bg_img deep-overlay" data-background="assets/images/faqs/faq-bg.png">
    <div class="faq-thumb d-none d-lg-block">
        <img src="assets/images/faqs/faq.png" alt="faqs">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pr-xl-5">
                <div class="section-header-2 left-style">
                    <h2 class="title">Question & Answers</h2>
                    <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusceest
                    </p>
                </div>
                <ul class="nav nav-tabs faq-tab-menu">
                    <li>
                        <a data-toggle="tab" href="#winning" class="active">Winning</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#refund">Refunds</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#losing">Losing</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active fade" id="winning">
                        <div class="faq-wrapper">
                            <div class="faq-item open active">
                                <div class="faq-title">
                                    <h6 class="title">HOW TO DOWNLOAD THE GAME?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">HOW TO install THE GAME?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">what is the benifit of the game?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">Why we are the best?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="refund">
                        <div class="faq-wrapper">
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">HOW TO install THE GAME?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item open active">
                                <div class="faq-title">
                                    <h6 class="title">HOW TO DOWNLOAD THE GAME?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">what is the benifit of the game?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">Why we are the best?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="losing">
                        <div class="faq-wrapper">
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">HOW TO install THE GAME?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">what is the benifit of the game?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item open active">
                                <div class="faq-title">
                                    <h6 class="title">HOW TO DOWNLOAD THE GAME?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <h6 class="title">Why we are the best?</h6>
                                    <span class="right-icon"></span>
                                </div>
                                <div class="faq-content">
                                    <p>Mauris sed duis aliquam laudantium. Suscipit nunc, eros error mi gravida, et sit,
                                        blandit pretium. Cras ad, morbi iaculis amet accumsan nullam nulla in, sit
                                        euismod porta ante nulla, tellus </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========Faq Section Ends Here======== -->


<!-- ========Blog Section Starts Here======== -->
<section class="blog-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header-2">
            <h2 class="title">news and tips</h2>
            <p>Lorem ipsum dolor sit amet, massa pellentesque, quis erat rhoncus nam ipsum platea fusce, at hac,
                justo quis lectus, est odio commodo</p>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="post-item-2">
                    <div class="post-thumb">
                        <a href="#0"><img src="assets/images/blog/blog04.jpg" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <div class="meta-post">
                                <a href="#0">25 December, 2020</a>
                                <a href="#0">03 comments</a>
                            </div>
                            <h6 class="title"><a href="#0">porta felis ac blandit ttique nec fermentum habi</a></h6>
                        </div>
                        <div class="post-body">
                            <p>Mauris sed duis aliquam laudantium. Suscinunc, eros error mi gravida, et sit, blandit
                                pretium Cras ad morbi iaculis amet cum nullam nullasit euis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="post-item-2">
                    <div class="post-thumb">
                        <a href="#0"><img src="assets/images/blog/blog05.jpg" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <div class="meta-post">
                                <a href="#0">25 December, 2020</a>
                                <a href="#0">03 comments</a>
                            </div>
                            <h6 class="title"><a href="#0">elementum tincidvestibulum ut etiam nulla eros </a></h6>
                        </div>
                        <div class="post-body">
                            <p>Mauris sed duis aliquam laudantium. Suscinunc, eros error mi gravida, et sit, blandit
                                pretium Cras ad morbi iaculis amet cum nullam nullasit euis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-10">
                <div class="post-item-2">
                    <div class="post-thumb">
                        <a href="#0"><img src="assets/images/blog/blog06.jpg" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <div class="meta-post">
                                <a href="#0">25 December, 2020</a>
                                <a href="#0">03 comments</a>
                            </div>
                            <h6 class="title"><a href="#0">congue amet lectus tristique. Convallis egestas duis </a>
                            </h6>
                        </div>
                        <div class="post-body">
                            <p>Mauris sed duis aliquam laudantium. Suscinunc, eros error mi gravida, et sit, blandit
                                pretium Cras ad morbi iaculis amet cum nullam nullasit euis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========Blog Section Ends Here======== -->
