<div class="auth-login">
		<div class="verticle-center">
			<div class="signup-form">
				<h4><i class="icofont-lock"></i> Đăng Ký</h4>
				<form method="post" class="c-form" action="/register">
					<div class="row merged-10">
						<div class="col-lg-12"><h4>Thật nhanh chóng và dễ dàng</h4></div>
						<div class="col-lg-6 col-sm-6 col-md-6">
							<input type="text" placeholder="First Name" name="firstname">
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6">
							<input type="text" placeholder="Last Name" name="lastname">
						</div>


						<div class="col-lg-6 col-sm-6 col-md-6">
							<input type="text" placeholder="Email@" name="email">
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6">
							<input type="password" placeholder="Password" name="password">
						</div>


						<div class="col-lg-12">
							<div class="gender">
							  <input type="radio" id="male" name="gender" value="male">
							  <label for="male">Male</label>
							  <input type="radio" id="female" name="gender" value="female">
							  <label for="female">Female</label>
							</div>	
						</div>
						
						<div class="col-lg-12">
							<div class="checkbox">
								<input type="checkbox" id="checkbox" checked>
								<label for="checkbox"><span>I agree the terms of Services and acknowledge the privacy policy</span></label>
							</div>
							<button class="main-btn" type="submit"><i class="icofont-key"></i> Đăng ký</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <div class="authtication bluesh high-opacity">
		<div class="verticle-center">
			<div class="welcome-note">
				<div class="logo"><img src="images/logo.png" alt=""><span>Socimo</span></div>
				<h1>Welcome to Socimo</h1>
				<p>
					Socimo is a one and only plateform for the researcheres, students, and Acdamic people. Every one can join this plateform free and share his ideas and research with seniors and juniours comments and openions. 
				</p>
			</div>
			<div class="bg-image" style="background-image: url(images/resources/login-bg.png)"></div>
		</div>
	</div>