<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Kian</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>
    <div class="theme-layout">
    {{{body}}}
    </div>


    <script src="js/main.min.js"></script><!-- vendors merged files -->
	<script src="js/date-time.js"></script>
	<script src="js/script.js"></script><!-- custom scripts -->
</body>

<!-- Mirrored from template/html/socimo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Oct 2021 18:37:17 GMT -->
</html>