<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from template.viserlab.com/gamgun/demo/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Feb 2022 09:28:29 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gamgun - Online Gaming HTML Template</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/odometer.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

</head>

<body>


<div class="preloader" id="preloader">
    <div class="logo">
    </div>
    <div class="loader-frame">
        <div class="loader1" id="loader1">
        </div>
        <div class="circle"></div>
        <h4 class="hello">Hello</h4>
        <h6 class="wellcome">Wellcome to <span>Gamgun</span></h6>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>

{{>header}}

{{{body}}}
<!-- ========Footer Section Starts Here======== -->
{{>footer}}
<!-- ========Footer Section Ends Here======== -->

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/modernizr-3.6.0.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/viewport.jquery.js"></script>
<script src="assets/js/nice-select.js"></script>
<script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from template.viserlab.com/gamgun/demo/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Feb 2022 09:29:42 GMT -->
</html>